<div id="setting">
  <div class="modal-header">
      <h3 class="modal-title">Setting</h3>
  </div>
  <div class="modal-body">
    <p>This feauture is being developed!</p>
  <!--  <div id="background">
    <b>Background:</b>
          <div ng-repeat="color in colors">
            <span ng-click="selected.color = color">{{color}}</span>
          </div>
  </div>
  <div id="font-size">
    <b>Font-size:</b>
    <div ng-repeat="size in sizes">
      <span ng-click="set.size = size">{{size}}</span>
    </div>
  </div>-->
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>
