.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
body{margin:0px;padding: 0px; color: #333;height: 100%; width: 100%; background:#DEEEEE !important;font-family: Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px;}
#name {float: left; display: block; padding: 12px 20px 8px 80px;font-size: 24px; font-weight: 200;line-height: 1; text-decoration: none;color: white;}
#navbar{position: fixed;top: 0px;left:0px; right:0px;height:44px !important; border-radius:0px !important;padding-top: 2px;margin-bottom:0px !important; color: #999; text-decoration: none; color: white; background-color: #2C2C2C;}
#navbar a:hover, #navbar a:focus,#navbar a:active {color:#aaa;}
#dashboard {padding:10px; margin-top:50px; display: flex;flex-flow: row wrap; justify-content:space-around;align-items: flex-start;align-content: center;}
.button {float: right; margin: 6px; padding: 5px 10px; font-size: 14px;text-decoration: none;text-align: center;color: white;cursor: pointer;}
.note {min-width: 200px; min-height: 80px; margin: 10px;border-radius: 5px;color: #000;background: #F5E787;z-index: 7;box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.45) inset, -1px -1px 0px rgba(0, 0, 0, 0.45) inset, 0px 2px 5px rgba(0, 0, 0, 0.25);
font-size:15px;}
.note a {margin: 0px; padding: 0px;color: gray;}
.title {padding: 8px 12px 0px;overflow:hidden; text-overflow:ellipsis; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 2px 0px rgba(6, 6, 6, 0.07), 0px 3px 0px rgba(255, 255, 255, 0.05);}
.content {padding: 10px 10px 15px;z-index: 10;}
.modal-dialog {margin: 60px auto !important;}
